<!-- <pat-attachments-meta> -->
	<p 
		class="meta">
		{% if include.type == 'pdf' %}
			<span class="meta-item">{%- include patterns/i18n sentinel=false id="patterns.label_pdf_file" -%}</span>
		{% elsif include.type == 'zip' %}
			<span class="meta-item">{%- include patterns/i18n sentinel=false id="patterns.label_zip_file" -%}</span>
		{% elsif include.type == 'archive' %}
			<span class="meta-item">{%- include patterns/i18n sentinel=false id="patterns.label_compressed_file" -%}</span>
		{% elsif include.type == 'word' %}
			<span class="meta-item">{%- include patterns/i18n sentinel=false id="patterns.label_word_file" -%}</span>
		{% elsif include.type == 'excel' %}
			<span class="meta-item">{%- include patterns/i18n sentinel=false id="patterns.label_excel_file" -%}</span>
		{% elsif include.type == 'powerpoint' %}
			<span class="meta-item">{%- include patterns/i18n sentinel=false id="patterns.label_powerpoint_file" -%}</span>
		{% elsif include.type == 'mp3' %}
			<span class="meta-item">{%- include patterns/i18n sentinel=false id="patterns.label_mp3_file" -%}</span>
		{% elsif include.type == 'txt' %}
			<span class="meta-item">{%- include patterns/i18n sentinel=false id="patterns.label_plain_text_file" -%}</span>
		{% elsif include.type == 'xml' %}
			<span class="meta-item">{%- include patterns/i18n sentinel=false id="patterns.label_xml_file" -%}</span>
		{% endif %}
		{% if include.renders %}
			<span 
				class="meta-item">{{ include.renders.size }} {% include patterns/i18n id="patterns.label_pages" %}</span>
		{% endif %}
		{% if include.size %}
			<span 
				class="meta-item">{{ include.size }}</span>
		{% endif %}
		{% if include.kind %}
			<span 
				class="meta-item">{{ include.kind }}</span>
		{% endif %}
		{% if include.date %}
			<span 
				class="meta-item time-stamp">{% include patterns/i18n id="label_uploaded" %} 
				<time
					datetime="2022-08-01T12:34"
					data-pat-display-time="output-format: D MMMM YYYY"
					class="pat-display-time">2016-10-19 - 14:07</time>
			</span>  
		{% endif %}
	</p>
<!-- </pat-attachments-meta> -->