<pat-context-menu>
    <a 
        tabindex="0"
        href="{{ include.source }}" 
        data-pat-tooltip="
            {% if include.target %}target: {{ include.target }};{% endif %}
            source: ajax;
            position-list: {{ include.position-list | default: 'tr' }};"
        title="{% include patterns/i18n sentinel=false id=include.title %}"
        class="
            pat-context-menu
            icon 
            {{ include.class | default: 'more' }} 
            pat-tooltip">
        {%- include patterns/i18n id=include.label -%}
    </a>
</pat-context-menu>