<fieldset 
    class="group">
    <legend>{%- include patterns/i18n id=include.label -%}</legend>
    <ol 
        class="pat-sortable pat-clone sortable-form-fields" 
        data-pat-clone="template: #{{ include.id }}-template; trigger-element: #add-{{ include.id }} ;" 
        data-pat-sortable="selector: .sortable-item">
        {% for item in page.pairs %}
            <li
                class="{{ include.id }} sortable-item">
                {% include patterns/form-field-name-value-list-rule.html %}
            </li>
        {% endfor %}
    </ol>

    <p 
        class="button-bar">
        <button 
            class="pat-button add-item icon-plus small add-clone" 
            type="button" 
            id="add-{{ include.id }}">{% include patterns/i18n id=include.add-button-label %}</button>
    </p>

    <input 
        type="hidden" 
        class="sortable-amount" 
        name="pat-sortable-amount" 
        value="1" />

    <template
        id="{{ include.id }}-template">
        <li 
            class="{{ include.id }} sortable-item">
            {% include patterns/form-field-name-value-list-rule.html %}
        </li>
    </template>
</fieldset>