{%- capture this_template_id -%}{{ include.label | slugify }}-item-template{%- endcapture -%}
{%- capture this_add_id -%}{{ include.label | slugify }}-add-item{%- endcapture -%}
{%- capture this_id -%}field-{{ include.label | remove: 'label_' | slugify }}{%- endcapture -%}

<fieldset 
    {% include patterns/form-field-id %}
    data-pat-inject="
        url: {{ include.action | default: page.url }};
        source: #{{ this_id }}-list::element;
        target: #{{ this_id }}-list::element"
    class="
        {{ include.class }}
        group
        pat-form-field-attachments
        pat-autosubmit 
        pat-inject 
        pat-subform
        {% if include.depends %}pat-depends{% endif %}">
    {% if include.label %}<legend>{% include patterns/form-field-label-conditional.html %}</legend>{% endif %}
    {%- capture list_id -%}{{ include.id }}-list{%- endcapture -%}
    {% unless include.data == false %}
        {% include patterns/sortable-files.html
            edit-panel=include.edit-panel
            picker=include.picker
            id=list_id
            data=include.data %}
    {% endunless %}
    {% include patterns/sortable-files-button-bar.html
        multiple=true %}
</fieldset>