<fieldset 
    class="group">
    <legend>{%- include patterns/i18n id=include.label -%}</legend>
    <ol 
        class="pat-sortable pat-clone sortable-form-fields" 
        data-pat-clone="template: #{{ include.id }}-template; trigger-element: #add-{{ include.id }} ;" 
        data-pat-sortable="selector: .sortable-item">

    </ol>

    <p 
        class="button-bar">
        <button 
            class="pat-button add-item icon-plus-circle small add-clone" 
            type="button" 
            id="add-{{ include.id }}">{% include patterns/i18n id=include.add-button-label %}</button>
    </p>

    <input 
        type="hidden" 
        class="sortable-amount" 
        name="pat-sortable-amount" 
        value="1" />

    <template
        id="{{ include.id }}-template">
        <li 
            class="{{ include.id }} sortable-item">
            <div 
                class="field-cluster">
                <label>
                    {% include patterns/i18n id="label_name" %}
                    <input
                        class="pat-autofocus"
                        placeholder="{%- include patterns/i18n id='label_name' %}"
                        id="label_name" -%}" 
                        type="text">
                </label>
                <label>
                    {% include patterns/i18n id="label_value" %}
                    <input
                        placeholder="{% include patterns/i18n id='label_value' %}"
                        id="label_value" %}" 
                        type="text">   
                </label>
            </div>
            <span 
                class="button-cluster assistive">
                <button 
                    class="sortable-button-up small pat-button" 
                    type="submit" 
                    name="up"
                    value="up">Up</button> 
                <button 
                    class="sortable-button-down small pat-button" 
                    type="submit" 
                    name="item_1_down"
                    value="item_1_down">down</button>
            </span>
            <button
                type="button" 
                class="remove-clone">Verwijder</button>
        </li>
    </template>
</fieldset>