<label>
    {% include patterns/form-field-auto-save-attributes %}
    class="
        {% include patterns/form-field-auto-save-classes %}"
    {% include patterns/i18n id=item.label %}{% include patterns/form-required.html %} 
     
    <input 
        name="{{ item.name }}" 
        type="password" 
        size="{{ item.chars }}" 
        value="{{ site.data[ui_data_path].ui[item.value][site.data.config.lang] }}" />

    {% include patterns/form-has-changes.html %}
    {% include patterns/form-message.html message=item.message %}
</label>

{% if item.help %}
    {% include patterns/form-help.html
        content=item.help more=item.help_more %}
{% endif %}	