{% if include.ui_content %}
	{% assign ui_data_path = include.ui_content %}
{% else %}
	{% assign ui_data_path = site.ui_data_path %}
{% endif %}

{% if include.src contains 'layout.' %}
	{% capture src %}{{ include.src | remove: 'layout.' }}{% endcapture %}
{% elsif include.src contains 'page.' %}
	{% capture src %}{{ include.src | remove: 'page.' }}{% endcapture %}
{% else %}
	{% capture src %}{{ include.src }}{% endcapture %}
{% endif %}

{% if include.root == 'form' %}
	<!-- <pat-form 
	 	root="form" source="{{ include.src }}" 
		source="{{ include.source }}"> -->
	<form 
		action="{{ include.action }}" 
		class="
			pat-form 
			pat-inject
			{% if include.validation == TRUE %}pat-validation {% endif %}
			{% if include.submit == 'auto' %}pat-autosubmit{% endif %} {{ include.class }}" 
		{% if include.inject %}
		  	data-pat-inject="{{ include.inject }}"
		{% endif %}>
{% endif %}
	{% unless include.root == 'field' %}
		<!-- <pat-form> -->
		<fieldset 
			class="
				{% if include.collapsible %}
					pat-collapsible 
					{{ include.collapsible }}
				{% endif %} 
					section 
				{% if include.layout == 'horizontal' %}
					horizontal
				{% else %}
					vertical
				{% endif %} 
				{{ include.class }}"
			{% if include.collapsible %}
				data-pat-collapsible="
					store: local; 
					scroll-selector: self; 
					{% if include.scroll-offset %}
						scroll-offset: {{ include.scroll-offset }}
					{% endif %}"
			{% endif %} 
			id="{{ page.title | slugify | default: 'fieldset' }}-first-collapsible">
	{% endunless %}
		<!-- <pat-form> -->
			<!-- <slot name="fields"> -->
				{% assign title_nr = 1 %}
				{% if include.src contains 'layout.' %}
					{% for item in layout[src] %}
						{% include patterns/form-component.html
							required=item.required
						    items=item.items
						    words=item.words
							value=item.value
							placeholder=item.placeholder
							label=item.label
							name=item.name
							message=item.message
							selected=item.selected
							source=item.source
							add-button-label=item.add-button-label
							variation=item.variation
							max-select=item.max_select
							label_on=item.label_on
							help=item.help
							url=item.url
							depends=item.depends
							checked=item.checked
							action=item.action
							class=item.class
							data=item.data
							id=item.id
							edit-panel=item.edit_panel
							title=item.title
							summary=item.summary
                			allow=item.allow
							image=item.image
							caption=item.caption
							alternative-text=item.alternative_text
							copyright=item.copyright
							author=item.author
							rows=item.rows
							value-json=item.value_json
							picker=item.picker
							add=item.add
							autofocus=item.autofocus
							layout=include.layout %}
					{% endfor %}
				{% elsif include.src contains 'page.' %}
					{% for item in page[src] %}
						{% include patterns/form-component.html
							required=item.required
						    items=item.items
						    words=item.words
							value=item.value
							placeholder=item.placeholder
							label=item.label
							name=item.name
							message=item.message
							selected=item.selected
							source=item.source
							add-button-label=item.add-button-label
							variation=item.variation
							max-select=item.max_select
							label_on=item.label_on
							help=item.help
							url=item.url
							depends=item.depends
							checked=item.checked
							action=item.action
							class=item.class
							data=item.data
							id=item.id
							edit-panel=item.edit_panel
							title=item.title
							summary=item.summary
                			allow=item.allow
							image=item.image
							caption=item.caption
							alternative-text=item.alternative_text
							copyright=item.copyright
							author=item.author
							rows=item.rows
							value-json=item.value_json
							picker=item.picker
							add=item.add
							autofocus=item.autofocus
							layout=include.layout %}
					{% endfor %}
				{% else %}
					{% for item in site.data[src] %}
						{% include patterns/form-component.html
							required=item.required
						    items=item.items
						    words=item.words
							value=item.value
							placeholder=item.placeholder
							label=item.label
							items=item.items
							name=item.name
							message=item.message
							selected=item.selected
							source=item.source
							add-button-label=item.add-button-label
							variation=item.variation
							max-select=item.max_select
							label_on=item.label_on
							help=item.help
							url=item.url
							depends=item.depends
							checked=item.checked
							action=item.action
							class=item.class
							data=item.data
							id=item.id
							edit-panel=item.edit_panel
							title=item.title
							summary=item.summary
                			allow=item.allow
							image=item.image
							caption=item.caption
							alternative-text=item.alternative_text
							copyright=item.copyright
							author=item.author
							rows=item.rows
							value-json=item.value_json
							picker=item.picker
							add=item.add
							autofocus=item.autofocus
							layout=include.layout %}
					{% endfor %}
				{% endif %}
				<!-- </slot> -->
		<!-- </pat-form> -->
	{% unless include.root == 'field' %}
		</fieldset>
		<!-- </pat-form> -->
	{% endunless %}
{% if include.root == 'form' %}
	</form>
<!-- </pat-form> -->
{% endif %}