<!-- <pat-form-field-checklist> -->
    <fieldset 
        {% include patterns/form-field-auto-save-attributes %}
        class="
            group
            {{ include.class }}
            {% include patterns/form-field-auto-save-classes %}
            {% if include.depends %}pat-depends{% endif %}" 
        {% if include.depends %}data-pat-depends="{{ include.depends }}; transition: slide"{% endif %}>
            <legend>
                {%- include patterns/form-field-label-conditional.html -%}
            </legend>
            {% if include.help %}
                {% include patterns/form-help.html 
                    content=include.help more=include.help_more %}
            {% endif %}
            <div 
                class="pat-checklist">
                {% for sub in item.items %}
                    <label>
                        {%- if sub.label contains '_' -%}
                            {%- include patterns/i18n sentinel=false id=sub.label %}
                        {% else %}
                            {{ sub.label }}
                        {% endif %}
                        <input
                            {% if include.variation == 'radio' %}
                                {% if sub.value %}
                                    value="{{ sub.value }}" 
                                {% else %}
                                    value="{{ sub.label | remove: 'label_' | slugify }}" 
                                {% endif %}
                            {% endif %}
                            {% if sub.selected == 'selected' %}
                                checked
                            {% endif %}
                            {% if sub.disabled %}
                                disabled
                            {% endif %}
                            tabindex="0"
                            name="
                                {%- if include.variation == 'radio' -%}
                                    {%- if include.name -%}
                                        {{ include.name }}
                                    {%- else -%}
                                         {{ include.label | slugify | default: 'some_name_for_the_radios' }}
                                    {%- endif -%}
                                {%- elsif sub.name -%}
                                    {{ sub.name }}
                                {%- else -%}
                                    {{ sub.label | remove: 'label_' | slugify }}
                                {%- endif -%}" 
                            type="{{ include.variation | default: 'checkbox' }}">
                    </label>
                {% endfor %}
            </div>
            {% include patterns/form-message.html message=include.message %}
            {% include patterns/form-has-changes.html %}
    </fieldset>
<!-- </pat-form-field-checklist> -->