<fieldset 
    {% include patterns/form-field-id %}
    {% include patterns/form-field-auto-save-attributes %}
    class="
        {{ include.class }}
        group
        attachments
        {% include patterns/form-field-auto-save-classes %}
        {% if include.depends %}pat-depends{% endif %}">
    <legend>{% include patterns/form-field-label-conditional.html %}</legend>
    {%- capture list_id -%}{{ include.id }}-list{%- endcapture -%}
    {% include patterns/sortable-files.html
        id=list_id
        data=include.data %}
    <div 
        class="pat-button-bar">
        <label
            {% if include.action %}
                data-pat-inject="
                    url: {{ include.action }}; 
                    source: #{{ include.id }}; 
                    target: #{{ include.id }}"
            {% endif %}
            class="
                pat-button
                file-upload-button">
            {% include patterns/i18n id="patterns.upload_files_imp" %}
            <input 
                name="attachments"
                type="file">
        </label>
        {% if include.picker %}
            {% include patterns/open-modal.html 
                class="pat-button"
                label="patterns.label_select_imp"
                href=include.picker
                %}
        {% endif %}
    </div>
</fieldset>