<div 
    class="field-cluster">
    <label
        class="rule-item">
        {% include patterns/i18n id="patterns.label_name" %}
        <input
            class="pat-autofocus"
            placeholder="{%- include patterns/i18n id='patterns.label_name' %}"
            name="name-{% raw %}#{1}{% endraw %}"
            value="{{ item.name }}"
            type="text">
    </label>
    <label
        class="rule-item">
        {% include patterns/i18n id="patterns.label_value" %}
        <input
            placeholder="{% include patterns/i18n sentinel=false id='patterns.label_value' %}"
            name="value-{% raw %}#{1}{% endraw %}"
            value="{{ item.value }}"
            type="text">   
    </label>
</div>
{% include patterns/sortable-blocks-button-cluster.html %}