<!-- <pat-form-field-text> -->
    <label 
        {% include patterns/form-field-auto-save-attributes %}
        class="
            {{ include.class }}
            {% include patterns/form-field-auto-save-classes %}
            {% if include.depends %}pat-depends{% endif %}" 
        {% if include.depends %}data-pat-depends="{{ include.depends }}; transition: slide"{% endif %}>
        {% include patterns/form-field-label-conditional.html %}
        <input 
            {% include patterns/form-field-input-attributes %}
            type="text"
            /> 
        {% include patterns/form-has-changes.html %}
        {% if include.help %}
            {% include patterns/form-help.html
                content=include.help more=include.help_more %}
        {% endif %}
        {% include patterns/form-message.html message=include.message %}
    </label>
<!-- </pat-form-field-text> -->