{% assign field_id = include.id %}
{% assign this_placeholder = include.placeholder %}
{% assign field_action = include.action %}
{% capture this_rich_id %}toolbar-{{ include.label | slugify }}{% endcapture %}

<fieldset 
    class="
        {{ include.class }}
        group">
    <legend>
        {% include patterns/form-field-label-conditional.html %}
    </legend>
    {% include 
        patterns/form-field-rich-editor.html 
        action=include.action 
        allow=include.allow
        content=include.content
        placeholder=this_placeholder
        id=this_rich_id %}
    {% if include.help %}
    {% include patterns/form-help.html 
        content=include.help %}
    {% endif %}
</fieldset>