<label 
	{% include patterns/form-field-auto-save-attributes %}
	class="
		{{ include.class }}
		{% include patterns/form-field-auto-save-classes %}
		{% if include.depends %}pat-depends{% endif %}" 
	{% if include.depends %}data-pat-depends="{{ include.depends }}; transition: slide"{% endif %}>

	{% include patterns/form-field-label-conditional.html %}

	<input 
		{% if include.required == true %}required="required"{% endif %} 
		{% if include.state == 'disabled' %}disabled{% endif %}
		class="
			pat-autosuggest 
			{% if include.class %}
				{{ include.class }}
			{% endif %} 
			{% if include.autofocus %}
				pat-autofocus
			{% endif %}
			"
		type="text" 
		name="{{ include.name }}" 
		id="{{ include.id }}" 
		placeholder="{% include patterns/i18n id=include.placeholder %}" 
		value="{{ include.value }}" 
		data-pat-autosuggest='
			{% if include.classes %}selection-classes: {{ include.classes }}; {% endif %}
			{% if include.value-json %}prefill-json: {{ include.value-json }}; {% endif %}
			allow-new-words: false; 
			ajax-search-index: text; 
			ajax-url: {{ include.url }}; 
			{% if include.max-select %}max-selection-size: {{ include.max-select }};{% endif %} '/>

	{% if include.help %}
		{% include patterns/form-help.html
			content=include.help more=include.help_more %}
	{% endif %}

	{% include patterns/form-has-changes.html %} 

</label>