{% if include.ui_content %}
	{% assign ui_data_path = include.ui_content %}
{% else %}
	{% assign ui_data_path = site.ui_data_path %}
{% endif %}

{% if include.src contains 'layout.' %}
	{% capture src %}{{ include.src | remove: 'layout.' }}{% endcapture %}
{% elsif include.src contains 'page.' %}
	{% capture src %}{{ include.src | remove: 'page.' }}{% endcapture %}
{% else %}
	{% capture src %}{{ include.src }}{% endcapture %}
{% endif %}

{% if include.root == 'form' %}
	<form 
		action="{{ include.action }}" 
		class="pat-form {% if include.validation == TRUE %}pat-validation {% endif %}{% if include.inject %}pat-inject{% endif %} {% if include.submit == 'auto' %}pat-autosubmit{% endif %} {{ include.class }}" 
		{% if include.inject %}
		  	data-pat-inject="{{ include.inject }}"
		{% endif %}>
{% endif %}
	{% unless include.root == 'field' %}
		<fieldset 
			class="form-panel {% if include.collapsible %}pat-collapsible {{ include.collapsible }}{% endif %} section {% if include.layout == 'horizontal' %}horizontal{% else %}vertical{% endif %} {{ include.class }}"
			data-pat-collapsible="store: local; self; {% if include.scroll-offset %}scroll-offset: {{ include.scroll-offset }}{% endif %}"
			id="{{ page.title | slugify }}-first-collapsible">
	{% endunless %}
		{% assign title_nr = 1 %}
		{% if include.src contains 'layout.' %}
			{% for item in layout[src] %}
				{% include patterns/form-component.html %}
			{% endfor %}
		{% elsif include.src contains 'page.' %}
			{% for item in page[src] %}
				{% include patterns/form-component.html
					label=item.label
					items=item.items
					name=item.name
					message=item.message
					selected=item.selected
					source=item.source
					add-button-label=item.add-button-label
					variation=item.variation
					label_on=item.label_on %}
			{% endfor %}
		{% else %}
			{% for item in site.data[src] %}
				{% include patterns/form-component.html
					label=item.label
					items=item.items
					name=item.name
					message=item.message
					selected=item.selected
					source=item.source
					add-button-label=item.add-button-label
					variation=item.variation
					label_on=item.label_on %}
			{% endfor %}
		{% endif %}
	{% unless include.root == 'field' %}
		</fieldset>
	{% endunless %}
{% if include.root == 'form' %}
	</form>
{% endif %}