<label 
		{% include patterns/form-field-auto-save-attributes %}
		class="
			{% include patterns/form-field-auto-save-classes %}
			{% if item.depends %}pat-depends{% endif %}
	       	{% if item.subform %}pat-subform{% endif %}
	       	{% if item.auto-submit %}pat-autosubmit{% endif %}
	       	{% if item.inject %}pat-inject{% endif %}"
		{% if item.id %}id="{{ item.id }}"{% endif %}
	    {% if item.inject %}data-pat-inject="{{ item.inject }}"{% endif %}
		{% if item.depends %}data-pat-depends="{{ item.depends }};"{% endif %}>
		{% include patterns/i18n id=item.label %}{% include patterns/form-required.html %} 
		<select 
			name="{{ item.name }}">
			{% for subitem in item.items %}
				<option 
					value="{{ subitem.value }}" 
					{% if subitem.selected %}selected{% endif %} 
					class="{% if subitem.depends %}pat-depends{% endif %}" 
					{% if subitem.depends %}data-pat-depends="{{ subitem.depends }}"{% endif %}> 
					{% if subitem.label contains 'label_' %}
						{% include patterns/i18n 
							id=subitem.label %}
					{% else %}
						{{ subitem.label }}
					{% endif %}
				</option>
			{% endfor %}
		</select>
		{% if item.message %}
			<p 
				class="pat-message {{ item.message-type }}">
				{% include patterns/i18n id=item.message %}
			</p>
		{% endif %}
		{% if item.help %}
			{% include patterns/form-help.html
	            content=item.help more=item.help_more %}
		{% endif %}
		{% include patterns/form-has-changes.html %}
	</label>