<fieldset 
    class="
        pat-form-field-name-value-list
        group">
    <legend>
        {% include patterns/form-field-label-conditional.html %}
    </legend>
    <ol 
        class="
            pat-sortable 
            pat-clone 
            pat-sortable-blocks"
        data-pat-clone="
            template: #{{ include.id }}-template; 
            trigger-element: #add-{{ include.id }};" 
        data-pat-sortable="
            selector: #{{ include.id }} .sortable-item">
        {% for item in page.pairs %}
            <li
                class="
                    clone
                    {{ include.id }} 
                    sortable-item">
                {% include patterns/form-field-name-value-list-rule.html %}
            </li>
        {% endfor %}
    </ol>

    <!-- <pat-button-bar> -->
        <p 
            class="pat-button-bar">
            <button 
                class="
                    pat-button 
                    add-item 
                    icon-plus 
                    small add-clone" 
                type="button" 
                id="add-{{ include.id }}">{% include patterns/i18n id=include.add-button-label %}</button>
        </p>
    <!-- </pat-button-bar> -->

    <template
        id="{{ include.id }}-template">
        <li 
            class="
                {{ include.id }} 
                clone
                sortable-item">
            {% include patterns/form-field-name-value-list-rule.html %}
        </li>
    </template>
    {% include patterns/form-has-changes.html %}
    {% if include.help %}
    {% include patterns/form-help.html
        content=include.help 
        more=include.help_more %}
    {% endif %}
    {% include patterns/form-message.html message=include.message %}
</fieldset>