{%- capture this_template_id -%}{{ include.label | default: 'untitled-image' | slugify }}-item-template{%- endcapture -%}
{%- capture this_add_id -%}{{ include.label | default: 'untitled-image' | slugify }}-add-item{%- endcapture -%}
{%- capture this_id -%}field-{{ include.label | remove: 'label_' | default: 'untitled-image' | slugify }}{%- endcapture -%}
{%- capture this_accept -%}{{ include.accept | default: 'image/*'}}{%- endcapture -%}
<!-- <pat-form-field-image> -->
    <fieldset 
        {% include patterns/form-field-id %}
        {% include patterns/form-field-auto-save-attributes %} 
        class="
            {{ include.class }}
            group
            pat-form-field-image
            {% include patterns/form-field-auto-save-classes %}
            {% if include.depends %}pat-depends{% endif %}"
        {% if include.depends %}data-pat-depends="{{ include.depends }}; transition: slide" {% endif %}>
        <legend>
            {%- include patterns/form-field-label-conditional.html -%}
        </legend>
        {% if include.image %}
            <figure
                class="pat-image">
                {% include patterns/picture.html
                    alternative-text=include.alternative-text
                    copyright=include.copyright
                    author=include.author
                    source=include.image %}
            </figure>
            {% include patterns/sortable-files-button-bar.html
                remove=true
                multiple=false
                edit-panel=include.edit-panel
                %}
        {% else %}
            {% include patterns/sortable-files-button-bar.html
                remove=false
                multiple=false
                accept=this_accept
                %}
        {% endif %}
		{% if item.help %}
			{% include patterns/form-help.html
				content=item.help more=item.help_more %}
		{% endif %}
		{% include patterns/form-has-changes.html %}
    </fieldset>
<!-- </pat-form-field-image> -->