<!-- <pat-form-field-select> -->
	<label 
		{% include patterns/form-field-auto-save-attributes %}
		class="
			pat-select
			{% include patterns/form-field-auto-save-classes %}
			{% if item.depends %}pat-depends{% endif %}
			{% if item.subform %}pat-subform{% endif %}
			{% if item.auto-submit %}pat-autosubmit{% endif %}
			{% if item.inject %}pat-inject{% endif %}"
		{% if item.id %}id="{{ item.id }}"{% endif %}
		{% if item.inject %}data-pat-inject="{{ item.inject }}"{% endif %}
		{% if item.depends %}data-pat-depends="{{ item.depends }};"{% endif %}>
		{% include patterns/form-field-label-conditional.html %}
		<select 
			name="{{ item.name }}">
			{% for subitem in item.items %}
				{% if subitem.options %}
					<optgroup 
						label="{% include patterns/i18n id=subitem.label sentinel=false %}">
						{% for option in subitem.options %}
							<option 
								{% if option.value %}
									value="{{ option.value }}" 
								{% else %}
									value="{{ option.label | remove: 'label_' | slugify }}" 
								{% endif %}
								{% if option.selected %}selected{% endif %} 
								{% if option.disabled %}disabled{% endif %}> 
								{% include patterns/i18n id=option.label %}
							</option>
						{% endfor %}
					</optgroup>
				{% else %}
					<option 
						{% if subitem.value %}
							value="{{ subitem.value }}" 
						{% else %}
							value="{{ subitem.label | remove: 'label_' | slugify }}" 
						{% endif %}
						{% if subitem.selected %}selected{% endif %}
						{% if subitem.disabled %}disabled{% endif %}> 
						{% include patterns/i18n id=subitem.label %}
					</option>
				{% endif %}
			{% endfor %}
		</select>
		{% if item.message %}
			<p 
				class="pat-message {{ item.message-type }}">
				{% include patterns/i18n id=item.message %}
			</p>
		{% endif %}
		{% if item.help %}
			{% include patterns/form-help.html
				content=item.help more=item.help_more %}
		{% endif %}
		{% include patterns/form-has-changes.html %}
	</label>
<!-- </pat-form-field-select> -->