<fieldset 
	class="
		{% if include.depends %}pat-depends{% endif %} 
		group 
		pat-form-field-button-bar
		{{ include.class }}" 
	{% if include.depends %}data-pat-depends="{{ include.depends }}"{% endif %}>
	{% if include.label %}
		<legend>{% include patterns/form-field-label-conditional.html %}</legend>
	{% endif %}
	<div 
		class="pat-button-bar">
		<!-- <slot id="buttons"> -->
			{% for sub in include.items %}
				<!-- <pat-button> -->
					{% if sub.type == 'link' %}
						<a 
							class="
								pat-button 
								pat-inject"
							href="{{ sub.url }}">{%- include patterns/i18n id=sub.label -%}</a>
					{% elsif sub.type == 'modal' %}
						<a 
							class="
								pat-button 
								pat-modal" 
							data-pat-modal="class: {{ sub.class }}"
							href="{{ sub.url }}">{%- include patterns/i18n id=sub.label -%}</a>
					{% else %}
						<button 
							type="{{ sub.type }}" 
							{% if sub.state == 'disabled' %}disabled{% endif %} 
							class="
								pat-button 
								{{ sub.class }}">{%- include patterns/i18n id=sub.label -%}</button>
					{% endif %}
				<!-- </pat-button> -->
			{% endfor %}
		<!-- </slot> -->
	</div>
</fieldset>