<fieldset
    {% include patterns/form-field-auto-save-attributes %}
    class="
        {% include patterns/form-field-auto-save-classes %}
        group
        {{ include.class }}">
        {% if include.label %}
            <legend>{%- include patterns/i18n id=include.label -%}</legend>
        {% endif %}
        <div 
            class="pat-checklist {{ include.variation }}">
            {% for sub in include.source %}
                <label>
                    {% include patterns/i18n id=sub.label %}
                    <input
                        value="{{ sub.label | slugify }}"
                        {% if sub.selected == 'selected' %}
                            checked
                        {% endif %}
                        name="
                            {%- if include.variation == 'radio' -%}
                                {{ include.label | slugify | default: 'some_name_for_the_radios' }}
                            {%- else -%}
                                {{ sub.label | remove: 'label_' | slugify }}
                            {%- endif -%}" 
                        type="{{ include.variation | default: 'checkbox' }}">
                </label>
            {% endfor %}
        </div>
</fieldset>