{%- capture this_template_id -%}{{ include.label | slugify }}-item-template{%- endcapture -%}
{%- capture this_add_id -%}{{ include.label | slugify }}-add-item{%- endcapture -%}
{%- capture this_id -%}field-{{ include.label | remove: 'label_' | slugify }}{%- endcapture -%}

<fieldset 
    {% include patterns/form-field-id %}
    data-pat-inject="
        url: {{ include.action | default: page.url }};
        source: #{{ this_id }}-list::element;
        target: #{{ this_id }}-list::element"
    class="
        {{ include.class }}
        group
        pat-form-field-attachments
        pat-autosubmit 
        pat-inject 
        pat-subform
        {% if include.depends %}pat-depends{% endif %}">
    <legend>{% include patterns/form-field-label-conditional.html %}</legend>
    {%- capture list_id -%}{{ include.id }}-list{%- endcapture -%}
    {% include patterns/sortable-files.html
        id=list_id
        data=include.data %}
    <div 
        class="pat-button-bar">
        <label
            {% if include.action %}
                data-pat-inject="
                    url: {{ include.action }}; 
                    source: #{{ include.id }}; 
                    target: #{{ include.id }}"
            {% endif %}
            class="
                pat-button
                file-upload-button">
            {% include patterns/i18n id="patterns.upload_files_imp" %}
            <input 
                name="attachments"
                type="file">
        </label>
        {% if include.picker %}
            {% include patterns/open-modal.html 
                class="pat-button"
                label="patterns.label_select_imp"
                href=include.picker
                %}
        {% endif %}
    </div>
</fieldset>