<!-- <pat-open-modal> -->
    <{{ include.tag | default: 'a' }} 
        tabindex="0"
        {% if include.tag == 'button' %}
            formaction="{{ include.href }}"
            type="submit"
        {% else %}
            href="{{ include.href }}"
        {% endif %}
        {% if include.title %}
            {%- assign this_title = include.title -%}
            title="{%- include patterns/i18n sentinel=false id=this_title -%}"
        {% endif %}
        class="
            pat-inject 
            {{ include.class }}"
        data-pat-inject="
            source: #pat-modal-panel-space; 
            target: #pat-modal-panel-space; 
            url: {{ include.href }};">
        {%- if include.label contains 'label_' -%}
            {%- include patterns/i18n 
                id=include.label -%}
        {%- else -%}
            {{- include.label -}}
        {%- endif -%}
    </{{ include.tag | default: 'a' }}>
<!-- </pat-open-modal> -->
