<!-- <pat-picture> -->
	<picture
		class="
            {{ include.class }}
			pat-picture">
        <img 
            src="{{ include.source }}"
            alt="{{ include.alternative-text }}" />
        {% if include.copyright or include.author %}
            {% if include.copyright contains 'opyright' %}
                {% assign this_copyright = 'copyright' %}
            {% elsif include.copyright contains 'cc' or include.copyright contains 'reative' %}
                {% assign this_copyright = 'creative-commons' %}
            {% endif %}
            <small 
                title="{% include patterns/label label=include.copyright sentinel=false %}"
                class="
                    copyright-mention 
                    type-{{ this_copyright }}">
                {{- include.author -}}
            </small>
        {% endif %}
	</picture>
<!-- </pat-picture> -->