{% if site.editor == 'redactor' %}
    <textarea 
      {% if page.saved_state == 'locked' %}disabled{% endif %}
      class="pat-redactor"
      placeholder="{{ include.placeholder }}" 
      data-pat-redactor="imageupload: @@star-quickupload; imagegetjson: /feedback/images.json; imageresizable: true; toolbar-external: #{{ include.toolbar }}; show-source-button: true; buttons: undo, redo, format, bold, italic, deleted, lists, line, link, mark, small, image; formatting: p, h1, h2, h3, blockquote, pre; plugins: alignment,table,video,imagemanager">
        {% if include.content %}{{ include.content }}{% endif %}
    </textarea>
{% elsif site.editor == 'ckeditor' %}
    <textarea 
      {% if page.saved_state == 'locked' %}disabled{% endif %}
      class="pat-ckeditor"
      placeholder="{{ include.placeholder }}" 
      data-pat-ckeditor="image-upload: @@star-quickupload; image-get-json: /feedback/images.json; imageresizable: true; toolbar-external: #{{ include.toolbar }}; show-source-button: true; buttons: undo, redo, format, bold, italic, deleted, lists, line, link, mark, small, image; formatting: p, h1, h2, h3, blockquote, pre; plugins: alignment,table,video,imagemanager">>
        {% if include.content %}{{ include.content }}{% endif %}
    </textarea>
{% elsif site.editor == 'tiptap' %}
    <textarea 
      {% if page.saved_state == 'locked' %}disabled{% endif %}
      class="pat-tiptap"
      placeholder="{{ include.placeholder }}" 
      data-pat-tiptap="image-upload: @@star-quickupload; image-get-json: /feedback/images.json; toolbar-external: #{{ include.toolbar }}; collaboration-server: wss://demos.yjs.dev; collaboration-document">
        {% if include.content %}{{ include.content }}{% endif %}
    </textarea>
{% endif %}