<figure 
	class="pat-screenshot {% if include.url %}browser-window{% endif %} {% if include.type %}type-{{ include.type }}{% endif %}"
	data-url="{{ include.url }}">
	<div 
		class="pat-auto-scale passe-partout {% if include.cut %}cutout cut-{{ include.cut }}{% endif %}">
	  	<object 
	        data="{{ include.source }}"
	        id="{{ include.object-id }}">
	  	</object>
  	</div>
  	{% if include.caption %}
		<figcaption>
			{% if include.link %}
				<a 
					class="pat-inject" 
					data-pat-inject="scroll: top; history: record"
					href="{{ include.link }}">{% if include.icon %}<img class="icon" src="{{ include.icon }}"> {% endif %}{{ include.caption }}</a>
			{% else %}
				{{ include.caption }}
			{% endif %}
		</figcaption>
	{% endif %}
</figure>
