{%- if include.data -%}
    {%- unless include.data == 'none' -%}
        {%- assign this_source = include.data -%}     
    {%- endunless -%}
{%- else -%}
    {%- assign this_source = page.attachments -%}
{%- endif -%}

<ol
    id="{{ include.id }}"
    class="
        pat-sortable 
        pat-clone
        pat-sortable-blocks
        title-summary"
    data-pat-clone="
        trigger-element: #{{ include.id }} .add-clone"
    data-pat-sortable="
        selector: #{{ include.id }} .sortable-item">
    {% for attachment in this_source %}
        <li
            class="
                clone
                sortable-item">
            <div 
                class="
                    sortable-item-fields
                    layout-title-description">
                <div 
                    class="
                        item-info">
                    <h1 
                        class="title">
                        {{ attachment.title | default: 'Title' }}
                    </h1>
                    {% if attachment.summary %}
                        <div 
                            class="
                                pat-rich 
                                description">
                            {{ attachment.summary }}
                        </div>
                    {% endif %}
                    {% include patterns/attachments-meta.html %}
                </div>
            </div>
            {% include patterns/sortable-blocks-button-cluster.html %}
            <div 
                class="sortable-item-functions">
                <a 
                    href="{{ include.edit-panel }}" 
                    data-pat-modal="class: panel {{ include.edit-panel-size }}"
                    class="
                        edit
                        pat-button
                        no-label
                        pat-modal ">{%- include patterns/i18n id="label_edit_imp" -%}</a>
            </div>
        </li>
    {% endfor %}
</ol>