<!-- <pat-button-bar> -->
    <div 
        class="
            pat-button-bar">
        {% unless include.remove %}
            {% unless include.upload == false %}
                {% include patterns/upload-button.html
                    accept=include.accept %} 
            {% endunless %}
        {% else %}
            <button
                class="
                    remove    
                    pat-button"
                type="submit">
                {%- include patterns/i18n sentinel=false id="patterns.label_remove_imp" -%}
            </button>
        {% endunless %}
        {% if include.picker %}
            {% include patterns/open-modal.html 
                class="pat-button"
                label="patterns.label_select_imp"
                href=include.picker
                %}
        {% endif %}
        {% if include.add %}
            {% include patterns/open-modal.html 
                class="pat-button add"
                label="patterns.label_file"
                href=include.add
                %}
        {% endif %}
        {% if include.edit-panel %}
            {% include patterns/open-modal.html 
                class="edit pat-button"
                label="patterns.label_edit_imp"
                href=include.edit-panel
                %}
        {% endif %}
    </div>
<!-- </pat-button-bar> -->