<div 
    class="
        sortable-item-fields
        layout-title-description">
    <div 
        class="
            item-info">
        <h1 
            class="title">
            {{ attachment.title | default: 'Title' }}
        </h1>
        {% if attachment.summary %}
            <p 
                class="
                    description">
                {{ attachment.summary }}
            </p>
        {% endif %}
        {% include patterns/attachments-meta.html
            type=include.type
            size=include.size
            kind=include.kind
            data=include.data
            renders=include.renders %}
    </div>
</div>