<!-- <pat-button-bar> -->
    <div 
        class="pat-button-bar">
        {% unless include.remove %}
            {% include patterns/upload-button.html %}
        {% else %}
            <button
                class="pat-button"
                type="submit">
                {%- include patterns/i18n id="patterns.label_remove_imp" -%}
            </button>
        {% endunless %}
        {% if include.picker %}
            {% include patterns/open-modal.html 
                class="pat-button"
                label="patterns.label_select_imp"
                href=include.picker
                %}
        {% endif %}
    </div>
<!-- </pat-button-bar> -->