{%- if include.source -%}
    {%- assign this_source = include.source -%}
{%- else -%}
    {%- assign this_source = 'page.attachments' -%}
{%- endif -%}
<ol
    id="{{ include.id }}"
    class="
        pat-sortable 
        pat-clone
        pat-sortable-blocks
        title-summary"
    data-pat-sortable="
        selector: .sortable-item">
    {% for item in this_source %}
        <li
            class="
                clone
                sortable-item">
            <div 
                class="
                    sortable-item-fields
                    layout-title-description">
                <article 
                    class="
                        item-info">
                    <h1 
                        class="title">
                        {{ item.title }}
                    </h1>
                    {% if item.summary %}
                        <div 
                            class="
                                pat-rich 
                                description">
                            {{ item.summary }}
                        </div>
                    {% endif %}
                </article>
            </div>
            {% include patterns/sortable-blocks-button-cluster.html %}
            <div 
                class="sortable-item-functions">
                <a 
                    href="{{ include.edit-panel }}" 
                    data-pat-modal="class: panel {{ include.edit-panel-size }}"
                    class="
                        edit
                        pat-button
                        no-label
                        pat-modal ">{%- include patterns/i18n id="label_edit_imp" -%}</a>
            </div>
        </li>
    {% endfor %}
</ol>